/* Style for all buttons */
.arrowButton {
  -fx-font-size: 14px;
  -fx-background-image: url("../images/arrow.png");
  -fx-background-size: 100% 100%;
  /* Stretches the image to fit the VBox */
  -fx-background-repeat: no-repeat;
  /* Ensures the image does not repeat */
  -fx-cursor: hand;
}



/* Style for all Rectangle elements */
.rectangle {
  -fx-fill: #1f93ff;
  -fx-stroke: black;
  -fx-stroke-width: 2;
  -fx-opacity: 0.5;
}

/* Specific styling for the VBox */
.vbox {
  -fx-background-image: url("../images/menu.png");
  -fx-background-size: 100% 100%;
  /* Stretches the image to fit the VBox */
  -fx-background-repeat: no-repeat;
  /* Ensures the image does not repeat */
  -fx-background-position: center;
  -fx-padding: 10;
  -fx-spacing: 10;
}

.objectivesButton {
  -fx-font-size: 14px;
  -fx-border-width: 2px;
  -fx-border-color: #8B4513;
  -fx-background-image: url("../images/objectives.png");
  -fx-background-size: 100% 100%;

  /* Stretches the image to fit the VBox */
  -fx-background-repeat: no-repeat;
  /* Ensures the image does not repeat */
  -fx-cursor: hand;
}

.timerLabel {
  -fx-background-color: #d9b881;
  /* Golden background */
  -fx-text-fill: black;
  /* Black text color */
  -fx-font-size: 24px;
  /* Font size */
  -fx-font-weight: bold;
  /* Bold font */
  -fx-padding: 10px;
  /* Padding around the text *
  /* Rounded corners */
  -fx-background-radius: 5px;
  /* Rounded corners for background */
  -fx-alignment: center;
  /* Center align text */
  -fx-min-width: 100px;
  /* Minimum width */
  -fx-min-height: 50px;
  /* Minimum height */
}

.backStoryLabel {
  -fx-background-image: url("../images/menu.png");
  -fx-background-size: 100% 100%;
  /* Stretches the image to fit the VBox */
  -fx-background-repeat: no-repeat;
  /* Ensures the image does not repeat */
  -fx-background-position: center;
  -fx-font-style: italic;
}

.label {
  -fx-font-style: italic;

}